 
 
/*  
 *{
    color:white;
 }
 #navbar{
    height:60px;
    background-color: black;
 }
 button
 {
    background-color: yellow;


 }
 #logo
 {
    color:yellow;

 }
 a{
margin-right:200px;

 }
 #hi{
    margin:10px;
padding:100px;
display:inline;

    background-color:black;

 } */
 .logoo{
   height:100px;
   width:100px;

 }